*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.recipes{
  align-items: center;
  justify-content: center;
  text-align: center;
}

.card-img-top{
  border-radius: 50px;
  padding: 20px;
}

.card{
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;;
}

.card img{
  max-height: 250px;
}

.card-body{
  padding: 25px;
  margin-top: -15px;
}

.btn-primary{
  border-radius: 50px;
  width: 100px;
  border: none;
}

.btn-primary:hover{
  background-color: black;
}

h3,p{
  color:rgb(46, 38, 38);
}