* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color:rgb(224, 229, 255);
  color: rgb(99, 55, 27);
  min-height: 100vh;
  font-family: 'Outfit', 'sans-serif';
  line-height: 1.4;
  place-content: center;
}

img {
  max-width: 100%;
  display: block;
}

h1, h2 {
  font-family: 'Young Serif', serif;
  font-weight: 400;
}

h1 {
  color:rgb(5, 4, 4);
  font-size: 2.8rem;
}

h2 {
  color: rgb(116, 61, 53);
  margin-bottom: 1rem;
}

.recipe-step {
  margin: 1rem 0;
}

ul {
  padding-left: 1.25rem;
}

ul li::marker {
  color: rgb(116, 61, 53);
  font-weight: bold;
}

ul li {
  margin-bottom: .5rem;
}

ul li span {
  color: rgb(8, 0, 29);
  margin-left: 1rem;
  font-weight: 700;
}

hr {
  margin: 1.5rem 0;
  border: 1px solid lightgray;
}

.columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  align-items: center;
}

.left-column,
.right-column {
  flex: 2;
  margin-right: 20px;
}


.middle-column {
  flex: 12; /* Adjust the width to make it wider */
}

@media screen and (max-width: 768px) {
  .left-column,
  .right-column,
  .middle-column {
    flex: 1; /* Equal width for all columns on small screens */
  }
}

.container {
  max-width: 800px;
  background-color: white;
  margin: 2rem;
  border-radius: 1rem;
}

.container .recipe-img {
  padding: 2rem;
  border-radius: 1rem;
  overflow: hidden;
}

.container .recipe-img img {
  border-radius: 1rem;
}

.recipe-info {
  padding: 0rem 2rem 2rem 2rem;
}

.description {
  margin: 1.5rem 0;
}

.recipe-img {
  display: flex;
  justify-content: center;
}

.recipe-img img {
  max-width: 100%;
}

.recipe-prep-time {
  background-color: rgba(252, 230, 234, 0.404);
  padding: 1.25rem;
  border-radius: 1rem;
}

.recipe-prep-time h3 {
  color: rgb(8, 0, 29);
  margin-bottom: .75rem;
}

.recipe-prep-time ul li::marker {
  color: rgb(8, 0, 29);
}

.ingredients li {
  margin-bottom: .5rem;
}

.ingredients li span {
  font-weight: initial;
}

.instructions .item {
  padding-left: .5rem;
  margin-bottom: .5rem;
  display: flex;
}

.instructions .item .num {
  color: brown;
  margin-right: 1rem;
  font-weight: 700;
}

.instructions .item p span {
  font-weight: 700;
}

.back-link {
  top: 20px;
  left: 20px;
  text-decoration: none;
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 50px;
  background: #3b2eb3;
  color: #fff;
  font-weight: 600;
  margin: 10px 0;
  text-transform: uppercase;
  cursor: pointer;
}

@media (max-width: 540px) {
  h1 {
    margin-top: 2rem;
  }

  .container {
    margin: 0;
  }

  .container .recipe-img {
    padding: 0;
    border-radius: 0;
  }

  .container .recipe-img img {
    border-radius: 0;
  }
}

#chat-messages {
  height: 300px;
  overflow-y: scroll;
  border: 1px solid #ccc;
  padding: 10px;
}

#message-form {
  margin-top: 10px;
}

#message-input {
  width: 80%;
  padding: 5px;
  margin-right: 5px;
}